Repository jfhbrook/susitna: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint --fix, shellcheck

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --list-different",
    "eslint --fix"
  ],
  "*.sh": ["shellcheck"]
}

cwd-aware path ops
  editor.ts
  host.ts
  shell.ts
  test/helpers/host.ts
Due: prettier --list-different, eslint --fix

TODO for editing command tests
  test/commands.ts
Due: prettier --list-different, eslint --fix

Move EXAMPLE files to own helper
  test/cli.ts
  test/helpers/cli.ts
  test/helpers/files.ts
  test/helpers/host.ts
Due: prettier --list-different, eslint --fix

Update TODOs
  README.md
Due: none

Note to switch module style
  README.md
Due: none

Example paths relative to project root
  tap-snapshots/test/cli.ts.test.cjs
  test/helpers/files.ts
Due: prettier --list-different, eslint --fix

Resolve paths in host and mock host
  host.ts
  test/helpers/host.ts
Due: prettier --list-different, eslint --fix

Change test home path
  test/helpers/host.ts
  test/shell.ts
Due: prettier --list-different, eslint --fix

Tests for editing commands and host pathing
  host.ts
  test/cli.ts
  test/commands.ts
  test/helpers/files.ts
  test/helpers/host.ts
  test/host.ts
Due: prettier --list-different, eslint --fix

Absolute path when parseProgram
  executor.ts
  tap-snapshots/test/cli.ts.test.cjs
Due: prettier --list-different, eslint --fix

Move FILENAME to files helper
  tap-snapshots/test/format.ts.test.cjs
  test/compiler.ts
  test/exceptions.ts
  test/format.ts
  test/helpers/files.ts
  test/helpers/scanner.ts
  test/helpers/traceback.ts
  test/parser.ts
  test/precedence.ts
  tools/test-generator/precedence.ts
Due: prettier --list-different, eslint --fix

End command
  README.md
Due: none

End command
  ast/cmd.ts
  ast/index.citree
  commands/index.ts
  compiler.ts
  executor.ts
  format.ts
  parser.ts
  scanner.ts
  tokens.ts
Due: prettier --list-different, eslint --fix

Renum
  ast/cmd.ts
  ast/index.citree
  commands/index.ts
  commands/renum.ts
  compiler.ts
  editor.ts
  executor.ts
  format.ts
  parser.ts
  scanner.ts
  test/commands.ts
  test/helpers/host.ts
  tokens.ts
Due: prettier --list-different, eslint --fix

Fix bug in editor renum
  editor.ts
Due: prettier --list-different, eslint --fix

Renum bug
  README.md
Due: none

Note to self about runtime faults
  README.md
Due: none

Notes on ls
  README.md
Due: none

Note on cd
  README.md
Due: none

Updated linecount script
  scripts/linecount.sh
Due: shellcheck

One less register in runtime
  runtime.ts
Due: prettier --list-different, eslint --fix

Simplify operations
  operations.ts
Due: prettier --list-different, eslint --fix

Do not need to save command source on executor
  executor.ts
Due: prettier --list-different, eslint --fix

No ADR for if/else semantics?
  README.md
Due: none

Specify node version
  .tool-versions
  package-lock.json
  package.json
Due: none

Update snapshots for new node version
  tap-snapshots/test/format.ts.test.cjs
Due: none

Tests only work with latest
  .github/workflows/qa.yaml
  README.md
Due: none

Near-complete ADR on execution domain model
  adrs/012-execution-domain-model.md
Due: none

Note on how "instruction" is actually used in bytecode
  adrs/012-execution-domain-model.md
Due: none

Reapply "Inject argv/env into Config"
  config.ts
  index.ts
  test/config.ts
  test/helpers/cli.ts
  test/helpers/config.ts
  test/helpers/executor.ts
Due: prettier --list-different, eslint --fix

Rename app to translator
  index.ts
  test/helpers/cli.ts
  translator.ts
Due: prettier --list-different, eslint --fix

Execution domain model retains name of bytecode instructions
  adrs/012-execution-domain-model.md
Due: none

Rename command to instruction (see ADR 12)
  adrs/012-execution-domain-model.md
  ast/cmd.ts
  ast/index.citree
  ast/index.ts
  ast/instr.ts
  commands/base.ts
  commands/expression.ts
  commands/index.ts
  commands/list.ts
  commands/load.ts
  commands/new.ts
  commands/renum.ts
  commands/run.ts
  commands/save.ts
  compiler.ts
  editor.ts
  executor.ts
  format.ts
  package.json
  parser.ts
  tap-snapshots/test/format.ts.test.cjs
  tap-snapshots/test/parser.ts.test.cjs
  test/commands.ts
  test/compiler.ts
  test/format.ts
  test/parser.ts
  test/precedence.ts
  tools/citree/example/ast.citree
  tools/citree/example/cmd.ts
  tools/citree/example/expr.ts
  tools/citree/example/index.ts
  tools/citree/example/instr.ts
  tools/citree/tap-snapshots/test/int.ts.test.cjs
Due: prettier --list-different, eslint --fix

Fix lint-staged
  .lintstagedrc.json
Due: none

Fix citree tests
  tools/citree/tap-snapshots/test/int.ts.test.cjs
  tools/citree/test/int.ts
Due: prettier --list-different, eslint --fix
