Repository jfhbrook/susitna: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint --fix, shellcheck

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --list-different",
    "eslint --fix"
  ],
  "*.sh": ["shellcheck"]
}

almost sensible operations - does not run, circular import issue
  operations.ts
  runtime.ts
  value/index.ts
Due: prettier --list-different, eslint --fix

circular import gone
  exceptions.ts
  operations.ts
  value/index.ts
Due: prettier --list-different, eslint --fix

move typeof to own file
  operations.ts
  value/index.ts
  value/typeof.ts
Due: prettier --list-different, eslint --fix

note on circular import bug
  value/index.ts
Due: prettier --list-different, eslint --fix

wrapped up for the night
  README.md
  operations.ts
Due: prettier --list-different, eslint --fix

no more re-exporting value stuff
  compiler.ts
  exceptions.ts
  operations.ts
  test/value/cast.ts
  test/value/convert.ts
  value/cast.ts
  value/convert.ts
  value/index.ts
  value/typeof.ts
  value/value.ts
Due: prettier --list-different, eslint --fix

tests for typeof
  README.md
  test/value/typeof.ts
Due: prettier --list-different, eslint --fix

line counts for tools
  scripts/linecount.sh
Due: shellcheck

remove header from linecount
  scripts/linecount.sh
Due: shellcheck

docs word count script
  package.json
  scripts/wordcount.sh
Due: shellcheck

wc for README, not "main"
  scripts/wordcount.sh
Due: shellcheck

wc for drafts too
  scripts/wordcount.sh
Due: shellcheck

wordcount output more like linecount
  scripts/wordcount.sh
Due: shellcheck

binaryBinary lol
  operations.ts
Due: prettier --list-different, eslint --fix

pass types of a and b to cast
  operations.ts
Due: prettier --list-different, eslint --fix

unary operators
  README.md
  operations.ts
  runtime.ts
Due: prettier --list-different, eslint --fix

comparisons and not
  operations.ts
  runtime.ts
  value/truthiness.ts
Due: prettier --list-different, eslint --fix

error on division by zero
  README.md
  operations.ts
Due: prettier --list-different, eslint --fix

ZeroDivisionError
  exceptions.ts
  operations.ts
Due: prettier --list-different, eslint --fix

Tests for truthiness
  README.md
  test/value/truthiness.ts
Due: prettier --list-different, eslint --fix

operations tests
  exceptions.ts
  faults.ts
  operations.ts
  test/operations.ts
Due: prettier --list-different, eslint --fix

update README
  README.md
Due: none

Update ADR 007
  adrs/007-type-semantics.md
Due: none

Update README
  README.md
Due: none

Note on type precedence in T-SQL
  adrs/007-type-semantics.md
Due: none

Test that conversions to bools are equivalent to truthy
  test/value/convert.ts
  value/cast.ts
  value/convert.ts
Due: prettier --list-different, eslint --fix

Comment on not using truthy in convert
  value/convert.ts
Due: prettier --list-different, eslint --fix

Note to format ZeroDivisionError
  README.md
Due: none

Format ZeroDivisionErrors
  README.md
  exceptions.ts
  format.ts
  operations.ts
  tap-snapshots/test/format.ts.test.cjs
  test/format.ts
Due: prettier --list-different, eslint --fix

Upgrade TypeScript
  package-lock.json
  package.json
Due: none

Formatting fixes in truthiness
  value/truthiness.ts
Due: prettier --list-different, eslint --fix

Finalize type handling ADRs
  adrs/007-type-semantics.md
  adrs/008-sigils.md
  adrs/009-type-awareness.md
Due: none

MSX BASIC instructions
  README.md
Due: none

Prioritized TODOs
  README.md
Due: none

Put refactoring compiler before editing
  README.md
Due: none

Run QA checks on pull requests
  .github/workflows/qa.yaml
  package.json
  test.env
Due: none

Tests use America/Anchorage
  test.env
Due: none

Check off github actions
  README.md
Due: none

check parser warnings using formatter
  tap-snapshots/test/parser.ts.test.cjs
  test/parser.ts
Due: prettier --list-different, eslint --fix

Scrub node version from snapshots
  tap-snapshots/test/format.ts.test.cjs
  test/format.ts
  test/helpers/format.ts
Due: prettier --list-different, eslint --fix
