Repository jfhbrook/susitna: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint --fix, shellcheck

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --list-different",
    "eslint --fix"
  ],
  "*.sh": ["shellcheck"]
}

Partial progress on adding properties to AST
  README.md
  ast/index.citree
  ast/index.ts
  editor.ts
  parser.ts
Due: prettier --list-different, eslint --fix

citree parser cleanup
  tools/citree/src/ast.ts
  tools/citree/src/parser.ts
Due: prettier --list-different, eslint --fix

clean up citree index
  tools/citree/src/index.ts
Due: prettier --list-different, eslint --fix

integration test with matanuska's ast
  package.json
  tools/citree/examples/ast.citree
  tools/citree/examples/cmd.ts
  tools/citree/examples/expr.ts
  tools/citree/examples/index.ts
  tools/citree/examples/stmt.ts
  tools/citree/package.json
  tools/citree/src/imports.ts
  tools/citree/src/index.ts
  tools/citree/src/types.ts
  tools/citree/tap-snapshots/test/int.ts.test.cjs
  tools/citree/test/int.ts
Due: prettier --list-different, eslint --fix

Update citree snapshots
  tools/citree/tap-snapshots/test/int.ts.test.cjs
Due: none

citree resolves common fields
  ast/index.citree
  tools/citree/examples/ast.citree
  tools/citree/src/parser.ts
  tools/citree/src/types.ts
Due: prettier --list-different, eslint --fix

citree properties on abstract class
  tools/citree/examples/cmd.ts
  tools/citree/src/ast.ts
  tools/citree/src/parser.ts
  tools/citree/src/templates/index.ts
  tools/citree/src/templates/main.ts.njk
  tools/citree/src/types.ts
  tools/citree/tap-snapshots/test/int.ts.test.cjs
  tools/citree/tap-snapshots/test/templates.ts.test.cjs
  tools/citree/test/imports.ts
  tools/citree/test/int.ts
  tools/citree/test/parser.ts
  tools/citree/test/templates.ts
Due: prettier --list-different, eslint --fix

ast properties not read only
  tools/citree/src/templates/main.ts.njk
  tools/citree/tap-snapshots/test/int.ts.test.cjs
  tools/citree/tap-snapshots/test/templates.ts.test.cjs
Due: none

Parse ast default values
  tools/citree/src/ast.ts
  tools/citree/src/parser.ts
  tools/citree/src/scanner.ts
  tools/citree/test/parser.ts
  tools/citree/test/scanner.ts
Due: prettier --list-different, eslint --fix

Render ast default values
  tools/citree/examples/ast.citree
  tools/citree/examples/cmd.ts
  tools/citree/examples/expr.ts
  tools/citree/examples/index.ts
  tools/citree/src/parser.ts
  tools/citree/src/scanner.ts
  tools/citree/src/templates/index.ts
  tools/citree/src/templates/main.ts.njk
  tools/citree/src/types.ts
  tools/citree/tap-snapshots/test/int.ts.test.cjs
  tools/citree/tap-snapshots/test/templates.ts.test.cjs
  tools/citree/test/imports.ts
  tools/citree/test/templates.ts
Due: prettier --list-different, eslint --fix

Update README
  tools/citree/README.md
  tools/citree/README.md.njk
  tools/citree/example/ast.citree
  tools/citree/example/cmd.ts
  tools/citree/example/expr.ts
  tools/citree/example/index.ts
  tools/citree/package.json
  tools/citree/scripts/readme.sh
  tools/citree/test/int.ts
  tools/citree/tsconfig.build.json
  tools/citree/tsconfig.json
Due: prettier --list-different, eslint --fix, shellcheck

citree revisited lol
  README.md
Due: none

Remove TODO from citree README
  tools/citree/README.md.njk
  tools/citree/package.json
Due: none

Actually update the citree README
  tools/citree/README.md
  tools/citree/package.json
Due: none

Add defaults for offsets in AST
  ast/cmd.ts
  ast/expr.ts
  ast/index.citree
  ast/index.ts
Due: prettier --list-different, eslint --fix

AST nodes now have location info
  package.json
  parser.ts
  test/compiler.ts
  test/format.ts
  test/parser.ts
Due: prettier --list-different, eslint --fix

Don't build citree before tests
  package.json
Due: none

Compile commands as single lines
  compiler.ts
  tap-snapshots/test/compiler.ts.test.cjs
  test/compiler.ts
Due: prettier --list-different, eslint --fix

Set cmdNo in commander
  commander.ts
  compiler.ts
Due: prettier --list-different, eslint --fix

Plug command source into compiler
  commander.ts
  compiler.ts
Due: prettier --list-different, eslint --fix

Update README
  README.md
Due: none

Plug data into compiler syntax errors
  compiler.ts
  tap-snapshots/test/compiler.ts.test.cjs
  test/compiler.ts
Due: prettier --list-different, eslint --fix

Update TODOs
  README.md
Due: none

Populate filename in chunk
  bytecode/chunk.ts
  bytecode/disassembler.ts
  commander.ts
  compiler.ts
  tap-snapshots/test/disassembler.ts.test.cjs
  test/compiler.ts
Due: prettier --list-different, eslint --fix

runtime errors include location info
  README.md
  format.ts
  runtime.ts
  tap-snapshots/test/format.ts.test.cjs
  tap-snapshots/test/runtime.ts.test.cjs
  test/format.ts
  test/helpers/runtime.ts
  test/helpers/traceback.ts
  test/runtime.ts
  traceback.ts
Due: prettier --list-different, eslint --fix

robust locations done
  README.md
  exceptions.ts
Due: prettier --list-different, eslint --fix

remove stale TODO
  compiler.ts
Due: prettier --list-different, eslint --fix

no more isLine getter in compiler
  compiler.ts
Due: prettier --list-different, eslint --fix

Remove stale comment
  test/compiler.ts
Due: prettier --list-different, eslint --fix

Host throws a FileError on unknown channel
  host.ts
Due: prettier --list-different, eslint --fix

Add traceback to all thrown runtime errors
  faults.ts
  runtime.ts
Due: prettier --list-different, eslint --fix

Traceback arg optional for exceptions/faults
  exceptions.ts
  faults.ts
  runtime.ts
Due: prettier --list-different, eslint --fix

check off FileError in Host
  README.md
Due: none

Merge parser and compiler warnings when running files
  commander.ts
  compiler.ts
  test/compiler.ts
  translator.ts
Due: prettier --list-different, eslint --fix

sketch of command compiler
  compiler.ts
Due: prettier --list-different, eslint --fix

Reprioritize TODOs
  README.md
Due: none

Comparisons
  README.md
  compiler.ts
  parser.ts
  scanner.ts
  tap-snapshots/test/parser.ts.test.cjs
  test/parser.ts
  test/scanner.ts
  tokens.ts
Due: prettier --list-different, eslint --fix

Notes on remark support
  README.md
Due: none
