Repository jfhbrook/susitna: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint --fix, shellcheck

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --list-different",
    "eslint --fix"
  ],
  "*.sh": ["shellcheck"]
}

Add remarks to AST
  ast/cmd.ts
  ast/index.citree
  commander.ts
  compiler.ts
  format.ts
  recreator.ts
Due: prettier --list-different, eslint --fix

Initial parsing of remarks (no tests)
  parser.ts
  test/parser.ts
Due: prettier --list-different, eslint --fix

no need to collect rems when syncing
  parser.ts
Due: prettier --list-different, eslint --fix

scanner/parser tests for remarks
  parser.ts
  test/parser.ts
  test/scanner.ts
Due: prettier --list-different, eslint --fix

ignore remarks when printing last command
  commander.ts
Due: prettier --list-different, eslint --fix

remarks seem to work
  README.md
Due: none

error message for unterminated string
  parser.ts
Due: prettier --list-different, eslint --fix

Remove parser improvements from TODOs
  README.md
Due: none

decrease scope of scanner work
  README.md
Due: none

Throw RuntimeFaults in scanner
  README.md
  faults.ts
  scanner.ts
Due: prettier --list-different, eslint --fix

Warn on odd or unordered line numbers
  parser.ts
  tap-snapshots/test/parser.ts.test.cjs
  test/parser.ts
Due: prettier --list-different, eslint --fix

commands incremented by 10, not 100
  commander.ts
Due: prettier --list-different, eslint --fix

check off line order task
  README.md
Due: none

and/or/not tokens
  scanner.ts
  tokens.ts
Due: prettier --list-different, eslint --fix

Parser supports logical operators (no tests)
  parser.ts
Due: prettier --list-different, eslint --fix

TODO for operator precedence test
  README.md
Due: none

Logical operators require Jump/JumpIfFalse
  README.md
Due: none

Consolidate logical/binary op factories
  parser.ts
Due: prettier --list-different, eslint --fix

Use operator factory for equality
  parser.ts
Due: prettier --list-different, eslint --fix

Generate precedence test
  package-lock.json
  package.json
  scripts/constants.sh
  scripts/debug.sh
  scripts/linecount.sh
  tap-snapshots/test/precedence.ts.test.cjs
  test/precedence.ts
  tools/citree/package-lock.json
  tools/test-generator/.eslintrc.js
  tools/test-generator/.gitignore
  tools/test-generator/.prettierignore
  tools/test-generator/.prettierrc
  tools/test-generator/README.md
  tools/test-generator/activate.ts
  tools/test-generator/config.ts
  tools/test-generator/format.ts
  tools/test-generator/index.ts
  tools/test-generator/main.ts
  tools/test-generator/package-lock.json
  tools/test-generator/package.json
  tools/test-generator/precedence.ts
  tools/test-generator/tsconfig.build.json
  tools/test-generator/tsconfig.json
  tools/test-generator/util.ts
Due: prettier --list-different, eslint --fix, shellcheck

Update TODOs
  README.md
Due: none

Inspector
  README.md
  commander.ts
  debug.njk.ts
  format.ts
  tap-snapshots/test/format.ts.test.cjs
  test/format.ts
Due: prettier --list-different, eslint --fix

Stub ADRs for type semantics, sigils and awareness
  adrs/007-type-semantics.md
  adrs/008-sigils.md
  adrs/009-type-awareness.md
Due: none

Draft ADR for type semantics
  adrs/007-type-semantics.md
Due: none

Update draft ADR on sigils
  adrs/008-sigils.md
Due: none

Type awareness ADR
  adrs/009-type-awareness.md
Due: none

TODOs for typing
  README.md
Due: none

Typed idents in scanner
  README.md
  adrs/008-sigils.md
  scanner.ts
  test/scanner.ts
  tokens.ts
Due: prettier --list-different, eslint --fix

Initial implementation of type casting
  README.md
  exceptions.ts
  tap-snapshots/test/format.ts.test.cjs
  test/format.ts
  value.ts
Due: prettier --list-different, eslint --fix

Type casting has tests
  README.md
  cast.ts
  test/cast.ts
  type.ts
  value.ts
Due: prettier --list-different, eslint --fix

Type errors include value/type information
  cast.ts
  exceptions.ts
  format.ts
  tap-snapshots/test/format.ts.test.cjs
  test/cast.ts
  test/format.ts
Due: prettier --list-different, eslint --fix

Reorganize value-related files
  README.md
  test/value/cast.ts
  value/cast.ts
  value/index.ts
  value/types.ts
  value/value.ts
Due: prettier --list-different, eslint --fix

convert library
  faults.ts
  package-lock.json
  package.json
  tap-snapshots/test/format.ts.test.cjs
  test/value/convert.ts
  value/cast.ts
  value/convert.ts
  value/index.ts
Due: prettier --list-different, eslint --fix

stack is generic
  format.ts
  runtime.ts
  stack.ts
Due: prettier --list-different, eslint --fix

Start of type predictions for operations
  compiler.ts
  operations.ts
Due: prettier --list-different, eslint --fix

would cast/convert to
  test/value/cast.ts
  test/value/convert.ts
  value/cast.ts
  value/convert.ts
  value/index.ts
Due: prettier --list-different, eslint --fix

Defer type checking in compiler
  compiler.ts
Due: prettier --list-different, eslint --fix

Unknown and Invalid are types
  operations.ts
  value/cast.ts
  value/convert.ts
  value/index.ts
  value/types.ts
Due: prettier --list-different, eslint --fix

TODOs - runtime behavior first, types later
  README.md
  adrs/009-type-awareness.md
Due: none

castType/intoType
  README.md
  test/value/cast.ts
  test/value/convert.ts
  value/cast.ts
  value/convert.ts
  value/index.ts
Due: prettier --list-different, eslint --fix
