Repository jfhbrook/susitna: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint --fix, shellcheck

Refactor tracing
  config.ts
  parser.ts
  sample.env
  tap-snapshots/test/trace.ts.test.cjs
  test/trace.ts
  trace.ts
Due: prettier --list-different, eslint --fix

Compiler tracing
  compiler.ts
  sample.env
  tap-snapshots/test/trace.ts.test.cjs
  trace.ts
Due: prettier --list-different, eslint --fix

Add more links
  README.md
  adrs/003-architecture.md
Due: none

POC disassembler
  bytecode/disassembler.ts
  commander.ts
  package-lock.json
  package.json
Due: prettier --list-different, eslint --fix

better table lib for disassembler
  bytecode/disassembler.ts
  package-lock.json
  package.json
Due: prettier --list-different, eslint --fix

emit return
  compiler.ts
Due: prettier --list-different, eslint --fix

Return on parse error
  translator.ts
Due: prettier --list-different, eslint --fix

Tasks in README
  README.md
  parser.ts
  shell.ts
Due: prettier --list-different, eslint --fix

Note to run tests in CI
  README.md
Due: none

Reminder to implement GOTOs
  README.md
Due: none

Reminder to implement code formatting
  README.md
Due: none

Note for assembler mini-language
  README.md
Due: none

Reminder to improve tracing
  README.md
Due: none

Reminders to perf test + test large programs
  README.md
Due: none

Reminder for string templates
  README.md
Due: none

Reminders to implement games
  README.md
Due: none

Note to self for array literals
  README.md
Due: none

Old notes no longer needed
  notes/architecture.mmd
  notes/architecture.png
  notes/internal.ts
Due: prettier --list-different, eslint --fix

Note to combine versions and constants
  README.md
Due: none

Line count script
  package.json
  scripts/linecount.sh
Due: shellcheck

Added detail on sigils ADR
  README.md
  adrs/002-sigils.md
Due: none

Note on assembler language
  adrs/draft/assembler-language.md
Due: none

Sketch out acey ducey example
  README.md
  examples/003-acey-ducey.bas
Due: none

Update acey ducey based on book description
  examples/003-acey-ducey.bas
Due: none

Clean up games directory
  games/001_acey_ducey.bas
  games/README.md
Due: none

Move sigils ADR back to draft
  README.md
  adrs/002-architecture.md
  adrs/003-recursive-descent.md
  adrs/004-expect-tests.md
  adrs/005-editor.md
  adrs/draft/sigils.md
Due: none

Remove games directory and plan to port amazing
  README.md
  games/002_amazing.bas
  games/README.md
Due: none

Idea on sigils
  adrs/draft/sigils.md
Due: none

Update requirements for porting acey ducey
  README.md
Due: none

Combine versions and constants
  .gitignore
  README.md
  config.ts
  constants.ts
  constants.ts.njk
  format.ts
  package.json
  scripts/constants.sh
  shell.ts
  versions.ts.njk
Due: prettier --list-different, eslint --fix, shellcheck

Use matbas bin env var in config
  config.ts
Due: prettier --list-different, eslint --fix

Note to self about tracer
  README.md
Due: none

MPL v2.0
  LICENSE
Due: none

Working runtime
  README.md
  bytecode/disassembler.ts
  bytecode/opcodes.ts
  commander.ts
  runtime.ts
Due: prettier --list-different, eslint --fix

Inline operator execution
  runtime.ts
Due: prettier --list-different, eslint --fix

Update README
  README.md
Due: none

Plumb file execution in translator
  README.md
  translator.ts
Due: prettier --list-different, eslint --fix

Comment formatting
  runtime.ts
Due: prettier --list-different, eslint --fix

Implemented templated debug library
  .gitignore
  bytecode/disassembler.ts
  constants.njk.ts
  debug.njk.ts
  package.json
  runtime.ts
  sample.env
  scripts/constants.sh
  scripts/debug.sh
  tap-snapshots/test/debug.ts.test.cjs
  test/debug.ts
Due: prettier --list-different, eslint --fix, shellcheck

Everything uses debug library
  cli.ts
  commander.ts
  compiler.ts
  config.ts
  debug.njk.ts
  index.ts
  parser.ts
  runtime.ts
  test/debug.ts
  test/helpers/debug.ts
  trace.ts
  translator.ts
Due: prettier --list-different, eslint --fix

Path conditions:
  prettier --list-different: any of: *.ts
  eslint --fix: any of: *.ts
  shellcheck: any of: *.sh
