Repository jfhbrook/susitna: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint --fix, shellcheck

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --list-different",
    "eslint --fix"
  ],
  "*.sh": ["shellcheck"]
}

Source env files on build
  .shellcheckrc
  scripts/constants.sh
  scripts/debug.sh
Due: shellcheck

format stack
  format.ts
  stack.ts
Due: prettier --list-different, eslint --fix

Runtime debug tracing
  bytecode/disassembler.ts
  debug.njk.ts
  runtime.ts
Due: prettier --list-different, eslint --fix

Show chunks
  commander.ts
Due: prettier --list-different, eslint --fix

Debug overhaul done
  README.md
Due: none

Show tree in parser
  parser.ts
  translator.ts
Due: prettier --list-different, eslint --fix

Fix NO_TRACE
  debug.njk.ts
Due: prettier --list-different, eslint --fix

Note to add exit command
  README.md
Due: none

Optimize NO_TRACE
  debug.njk.ts
Due: prettier --list-different, eslint --fix

Fix template bug in debug
  debug.njk.ts
Due: prettier --list-different, eslint --fix

Note for debug improvements
  README.md
Due: none

File build script dotenv bug
  README.md
Due: none

Show chunk in compiler
  commander.ts
  compiler.ts
Due: prettier --list-different, eslint --fix

Fix release build
  README.md
  debug.njk.ts
  package-lock.json
  package.json
  scripts/constants.sh
  scripts/debug.sh
Due: prettier --list-different, eslint --fix, shellcheck

npm audit fix for citree
  package.json
  tools/citree/package-lock.json
Due: none

run citree tests on pre-commit
  .husky/pre-commit
  tools/citree/.taprc
Due: none

env files for test and release
  package-lock.json
  package.json
  release.env
  test.env
Due: none

tests for compiling commands
  commander.ts
  test/compiler.ts
  test/helpers/bytecode.ts
Due: prettier --list-different, eslint --fix

notes and skipped test on return
  README.md
  test/compiler.ts
Due: prettier --list-different, eslint --fix

failing test for multi line input
  test/compiler.ts
Due: prettier --list-different, eslint --fix

locations and colors in traces
  debug.njk.ts
  package-lock.json
  package.json
Due: prettier --list-different, eslint --fix

fix debug tests
  debug.njk.ts
  tap-snapshots/test/debug.ts.test.cjs
Due: prettier --list-different, eslint --fix

hello world should print
  examples/001-hello-world.bas
Due: none

simple program compiles
  compiler.ts
  test/compiler.ts
Due: prettier --list-different, eslint --fix

child tracers
  README.md
  debug.njk.ts
  tap-snapshots/test/debug.ts.test.cjs
Due: prettier --list-different, eslint --fix

Compile errors for commands
  compiler.ts
  tap-snapshots/test/compiler.ts.test.cjs
  test/compiler.ts
Due: prettier --list-different, eslint --fix

Test invalid binary operator
  tap-snapshots/test/compiler.ts.test.cjs
  test/compiler.ts
Due: prettier --list-different, eslint --fix

Update TODOs
  README.md
Due: none

Note about currentCmd vs currentLine/currentCmdNo
  compiler.ts
Due: prettier --list-different, eslint --fix

disassembler tests
  tap-snapshots/test/disassembler.ts.test.cjs
  test/disassembler.ts
Due: prettier --list-different, eslint --fix

disassembler tests for malformed chunks
  README.md
  tap-snapshots/test/disassembler.ts.test.cjs
  test/disassembler.ts
Due: prettier --list-different, eslint --fix

clarify Compiler#done trace
  compiler.ts
Due: prettier --list-different, eslint --fix

simple runtime tests
  stack.ts
  tap-snapshots/test/runtime.ts.test.cjs
  test/compiler.ts
  test/helpers/runtime.ts
  test/runtime.ts
Due: prettier --list-different, eslint --fix

check off basic runtime tests
  README.md
Due: none

child trace span obo error
  debug.njk.ts
Due: prettier --list-different, eslint --fix

improved parser test coverage + TODO for better error
  README.md
  parser.ts
  tap-snapshots/test/parser.ts.test.cjs
  test/parser.ts
Due: prettier --list-different, eslint --fix

consider immediate needs met
  README.md
Due: none

debug output improvement
  debug.njk.ts
Due: prettier --list-different, eslint --fix

Research on how clox/tslox does returns
  README.md
Due: none
